# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies & build output
node_modules
dist
dist-ssr
*.local
.env
.env.*

# Android build outputs & Gradle cache
.gradle/
build/
app/build/
android/.gradle/
android/app/build/
android/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
